.navbar{
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}
.cv-download {
    background-image: linear-gradient(to right, #2bde8c, #5ce865);
    background: -webkit-linear-gradient(to right, #2bde8c, #5ce865);
    background: linear-gradient(to right, #2bde8c, #5ce865);
    border-radius: 5px;
}
.cv-download:hover {
  background-image: linear-gradient(to right, #5ce865, #2bde8c);
}
@media only screen and (max-width: 600px) {
  .center {
    display: inline-block;
    margin-right: 100px;
  }
}