.cv-download-about {
    background-image: linear-gradient(to right, #740d62, #8f9930);
    background: -webkit-linear-gradient(to right, #5af1ad, #036b0a);
    background: linear-gradient(to right, #0b73eb, #0ebde9);
    border-radius: 10px;
    padding: 5px;
    border: 1px solid white;
}
.cv-download-about a{
    text-decoration: none;
    color:#e3e7a3;
}  
.cv-download-about:hover {
    background-image: linear-gradient(to right, #32d3f0, #405bf3);
    border: 2px solid goldenrod;
    border-radius: 5px;
}
.photo img{
    height: 500px;
    width: 350px;
    border-radius:10px;
}

.about-footer{
    margin-top: 106px;
}
@media only screen and (max-width: 600px) {
    .photo img{
        height: 300px;
        width: 250px;
        border-radius:10px;
    }
    .photo{
        margin-top:130px;
        margin-left: 50px;
    }
    .about-footer{
        margin-top: 80px;
    }
    .about-text ul{
        list-style-type: none;
    }
    .container{
        text-align: center;
    }
  }